

/* Encabezado */
header {
    background-color: #9de99b;   
    color: #27161f;              
    text-align: center;
}

/* Menú de navegación */
nav {
    background-color: #bd6482;   
    text-align: center;
    padding: 12px;
}

/* Enlaces del menú */
nav a {
    color: #d4f0df;              
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

/* Efecto al pasar el mouse */
nav a:hover {
    color: #e0aaee;              
}

/* Estilo general de la página */
body {
    font-family: 'Times New Roman', Helvetica, sans-serif;
    background-color: #6d4b4b;   
    margin: 0;
    line-height: 1.6;
}

/* Secciones */
section {
    background-color: #50dbbd;   
    margin: 20px auto;
    padding: 20px;
    width: 50%;
    border-radius: 8px;
    box-shadow: 0 4px 8px #d7c4fc; 
}

/* Imágenes */
img {
    width: 400px;       
    height: auto;       
    border-radius: 10px;
    margin-top: 10px;
}

/* Pie de página */
footer {
    background-color: #db9ed1;   
    color: #221f20;              
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
/*estilo del boton */
button{
    padding:10px 20px;
    font-size: 16px;
    background-color: #365c88;
    color: red;
    border:  none;
    border-radius:  8px;
    cursor: pointer;
    transition: transform 0.15;
    background-color: 0.35;
}
button:active{
    transform: scale(0.95);
    background-color: #4bbbe7;
}
#mensaje{
    display:none;
    opacity: 0;
    transform:translateY(-10px);
    transition: all 0.5s ease;
    font-weight: bold;
    color: #4085c5;
    margin-top: 10px;
}