

/* Encabezado */
header {
    background-color: #5494ad;   
    color: #9ec1d8;              
    text-align: center;
}

/* Menú de navegación */
nav {
    background-color: #bd6482;   
    text-align: center;
    padding: 12px;
}

/* Enlaces del menú */
nav a {
    color: #d4f0df;              
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

/* Efecto al pasar el mouse */
nav a:hover {
    color: #e0aaee;              
}

/* Estilo general de la página */
body {
    font-family: 'Times New Roman', Helvetica, sans-serif;
    background-color: #ad8383;   
    margin: 0;
    line-height: 1.6;
}

/* Secciones */
section {
    background-color: #738daf;   
    margin: 20px auto;
    padding: 20px;
    width: 50%;
    border-radius: 8px;
    box-shadow: 0 4px 8px #9282b1; 
}

/* Imágenes */
img {
    width: 400px;       
    height: auto;       
    border-radius: 10px;
    margin-top: 10px;
}

/* Pie de página */
footer {
    background-color: #8fb2bd;   
    color: #c594a1;              
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
